* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  padding-top: 1%;
  margin-bottom: 34%;
}
button#refresh {
  position: absolute;
  top: 30%;
  left: 4%;
  border-radius: 50%;
  padding: 0 0.74%;
  background-color: rgba(0, 255, 213, 0.808);
  color: #ffffff;
}
button#refresh:hover {
  transform: scale(1.2);
  background-color: #ffffff;
  color: rgba(0, 255, 213, 0.808);
}
.head-container {
  background-color: rgba(0, 255, 213, 0.808);
  margin-bottom: 2%;
  padding: 2%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 2.5em;
}
#eqnOutput {
  user-select: all;
  cursor: pointer;
  font-size: 1.5em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#eqnOutputA-container, #eqnOutputB-container, #eqnOutputC-container {
  display: none;
}
.container {
  font-family: cursive;
}
.input-container {
  margin: 0 auto;
  display: inline-block;
  width: fit-content;
  position: relative;
  cursor: default;
  -webkit-user-select: none;
  text-align: center;
}
input {
  width: 35px;
  height: 30px;
  outline: none;
  border: 2px solid rgba(0, 255, 213, 0.808);
  border-radius: 5px;
  font-size: 1.3em;
}
::-webkit-input-placeholder {
  opacity: 0.4;
}
#x-coefficient {
  font-size: 2em;
}
sup {
  font-size: .6em;
}
#checkLimitTooltipA, #checkLimitTooltipB, #checkLimitTooltipC, #checkCorrect {
  position: absolute;
  top: 110%;
  z-index: 999;
  width: 0;
  border-radius: 5px;
  white-space: nowrap;
  background-color: rgba(0, 255, 213, 0.808);
  overflow: hidden;
  opacity: 0.9;
  text-align: center;
  margin: 0 auto;
}
button {
  font-size: 2em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0 1%;
  margin-top: 1%;
  border-radius: 10px;
  outline: none;
  border: 2px double rgba(0, 255, 213, 0.808);
  background-color: white;
  color: rgba(0, 255, 213, 0.808);
  transition: all 270ms ease-in-out;
}
#button:hover {
  background-color: rgba(0, 255, 213, 0.808);
  color: white;
  box-shadow: 2px 2px 5px rgba(59, 57, 57, 0.4);
  font-size: 2.3em;
  padding: 0 3%;
}
#answer {
  font-size: 2em;
}

















button#steps {
  display: none;
  position: absolute;
  top: 28%;
  right: 1%;
}
table.solvingSteps {
  display: none;
  background-color: #ffffff;
  width: 31%;
  margin-top: 1%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 20px;
  box-shadow: 2px -2px 5px rgba(0, 0, 0, 0.6), -1px -1px 5px rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 35%;
  right: 1.5%;
  overflow: hidden;
}
.stepping {
  position: absolute;
}
td {
  padding: 2% 3%;
  white-space: nowrap;
  border-bottom: 1px solid rgba(0, 255, 213, 0.808);
}
td.stephd {
  width: 50%;
}
div.steps {
  display: inline;
}
hr {
  border: 0.5px solid #000000;
  width: 40%;
  margin: 0 auto;
}
#steppers1 {
  margin-left: -22%;
}
#steppers1 hr {
  width: 60%;
}
#steppers4 {
  margin-left: 2%;
}
#steppers4 hr {
  width: 110%;
}
#steppers5 {
  margin-left: -40%;
}
#steppers6 {
  margin-left: -40%;
}
#steppers7 {
  margin-left: -40%;
}
#steppers8a {
  margin-left: 5%;
}
#steppers8a hr {
  width: 130%;
}
#steppers8b {
  margin-left: 20%;
}
#steppers8b hr {
  width: 190%;
}
#steppers9a {
  margin-left: 5%;
}
#steppers9a hr {
  width: 130%;
}
#steppers9b {
  margin-left: 20%;
}
#steppers9b hr {
  width: 190%;
}
#step10bb td {
  border: none;
}
#step10b {
  margin-left: 40%;
}
#fulleqntt {
  display: none;
  position: absolute;
  top: 52.5%;
  right: 32%;
  background-color: rgba(34, 226, 194, 0.808);
  color: #ffffff;
  border-left: 25px solid rgb(9, 255, 0);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 0.9em;
  height: 14%;
  padding-top: 0.5%;
  white-space: pre;
  overflow: hidden;
  animation-duration: 6000ms;
  animation-timing-function: ease-in-out;
}
@keyframes displayTT {
  0% {width: 0%;}
  30% {width: 20%;}
  50% {width: 20%;}
  70% {width: 20%;}
  100% {width: 0%;}
}